<mat-toolbar class="ToolBoxVigas">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="openNavBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
</mat-toolbar>

<mat-drawer-container class="mainContainer">
    <mat-drawer #drawer *ngIf="opened" mode="side" opened>
        <mat-selection-list [multiple]="false">
            <mat-list-option [routerLink]="['disenioflexion']">Diseño a flexion</mat-list-option>
            <mat-list-option [routerLink]="['chequeoSeccionFlexion']">Chequeo a flexión de sección</mat-list-option>
            <mat-list-option [routerLink]="['disenioCortante']">Diseño a cortante sección rectangular</mat-list-option>
            <mat-list-option [routerLink]="['Espectro']">Espectro NSR10</mat-list-option>
        </mat-selection-list>
    </mat-drawer>

    <mat-drawer-content style="overflow: hidden;">
        <section id="contenido" (resized)="onSectionChange($event)">
            <router-outlet></router-outlet>

        </section>
        <footer>
            Santiago Vásquez Gómez &copy;
        </footer>
    </mat-drawer-content>

</mat-drawer-container>
