<app-navbar (toggleSidenav)="onToggleSidenav($event)"></app-navbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="isToogle">
        <mat-selection-list [multiple]="false">
            <mat-list-option [routerLink]="['disenioflexion']">Diseño a flexion</mat-list-option>
            <mat-list-option [routerLink]="['chequeoSeccionFlexion']">Chequeo a flexión de sección</mat-list-option>
            <mat-list-option [routerLink]="['disenioCortante']">Diseño a cortante sección rectangular</mat-list-option>
            <mat-list-option [routerLink]="['escaleras']">Diseño de escaleras</mat-list-option>
            <mat-list-option [routerLink]="['Espectro']">Espectro NSR10</mat-list-option>
        </mat-selection-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <main id="contenido" (resized)="onSectionChange($event)" #contenido>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>