<div class="espectroOutputContainer">
    <div class="card">
        <div class="card-header" (click)="onHeaderClick()">
            <h2>Informacion Espectro</h2>
        </div>
        <div *ngIf="isOpen" [@inOutAnimation] class="card-body">
            <div style="padding: 10px">
                <div class="row">
                    <div class="col">
                        <p>Periodo aproximado Ta(s): <span class="Results">valor</span></p>
                    </div>
                    <div class="col">
                        <p>Periodo de aceleraciones constanstes T0(s): <span class="Results">valor</span></p>
                    </div>
                    <div class="col">
                        <p>Periodo de transicion Tc(s): <span class="Results">valor</span></p>
                    </div>
                    <div class="col">
                        <p>Periodo de desplazamiento Tl(s): <span class="Results">valor</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Ct: <span class="Results">Valor</span></p>
                    </div>
                    <div class="col">
                        <p>K: <span class="Results">Valor</span></p>
                    </div>
                    <div class="col">
                        <p>Aceleracion sismica Sa(g): <span class="Results">Valor</span></p>
                    </div>
                    <div class="col">
                        <p>Cu: <span class="Results">Valor</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>CuTa(s): <span class="Results">Valor</span></p>
                    </div>

                    <div class="col">
                        <label for="" class="form-label"> Peso de la estructura (Tonf):</label>
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="Ingrese el peso de la estructura">
                    </div>

                    <div class="col">
                        <p>Cortante estatico Vs(TonF): <span class="Results">Valor</span></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
