<div class="myCard">
    <div class="headerCard">
        <h2>Datos de entrada</h2>
    </div>
    <div class="myForm">
        <form (ngSubmit)="onSubmit(cortanteForm)" #cortanteForm="ngForm">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Fy(kgf/cm²)</mat-label>
                    <input matInput name="fy" type="number" #inputfy [(ngModel)]="viga.fy" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Fc(kgf/cm²)</mat-label>
                    <input matInput name="fc" type="number" #inputfc [(ngModel)]="viga.fc" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>b(cm)</mat-label>
                    <input matInput name="bw" type="number" #inputbw [(ngModel)]="viga.bw" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>h(cm)</mat-label>
                    <input matInput name="hw" type="number" #inputhw [(ngModel)]="viga.hw" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>d'(cm)</mat-label>
                    <input matInput name="r" type="number" #inputr [(ngModel)]="viga.rb" required>
                </mat-form-field>
            </p>
            <div *ngIf="isDisenio">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Vu(Tonf)</mat-label>
                        <input matInput name="Vu" type="number" #inputVu [(ngModel)]="cortanteCalculo.vu">
                    </mat-form-field>
                </p>

                <p style="padding-left: 5px;">
                    Seleccione según cual condicion diseñar:
                </p>

                <label style="display: block; margin-bottom: 10px; padding-left: 10px;" *ngFor="let option of conditions">
                  <input type="radio" [name]="option" [value]="option" [(ngModel)]="selectedCondition">
                  {{option}}
                </label>

                <p *ngIf="selectedCondition === conditions[0]">
                    <mat-form-field appearance="outline">
                        <mat-label>Separación(cm)</mat-label>
                        <input matInput name="separacionAs" #inputSep [(ngModel)]="cortanteCalculo.separacionAs" type="number" required>
                    </mat-form-field>
                </p>

                <p *ngIf="selectedCondition === conditions[1]">
                    <mat-form-field appearance="outline">
                        <mat-label>Acero a cortante(cm²)</mat-label>
                        <input matInput name="asCortante" type="number" #inputAs [(ngModel)]="cortanteCalculo.asCortante" required>
                    </mat-form-field>
                </p>
            </div>
            <button class="bottonStyle" mat-raised-button>Calcular</button>
        </form>
    </div>
</div>
{{prueba}}
