<mat-card>
    <mat-card-title class="headerCard">
        <h1>Resultados</h1>
    </mat-card-title>
    <mat-card-content>
        <p>Cuantia Máxima de la Sección:
            <span class="Results">{{viga.cuantiaMax}}</span>
        </p>

        <p>Acero Máximo de la Sección:
            <span class="Results">{{viga.asMax}}</span>
            <span> cm²</span>
        </p>

        <p>Momento Máxima de la sección:
            <span class="Results">{{viga.phiMnMax}}</span>
            <span> Tonf-m</span>
        </p>

        <p>Acero temperatura de la Sección:
            <span class="Results"> {{viga.asTemp}}</span>
            <span> cm²</span>
        </p>

        <p *ngIf="isDisenio">Cuantia Requerida a flexión:
            <span class="Results">{{viga.cuantiaReq}}</span>
        </p>

        <p *ngIf="isDisenio">Acero requerido por flexión de la Sección:
            <span class="Results"> {{viga.asReq}}</span>
            <span> cm²</span>
        </p>

        <p *ngIf="viga.asReq2>0 && isDisenio"> Acero requerido por Compresión de la Sección:
            <span class="Results"> {{viga.asReq2}}</span>
            <span> cm²</span>
        </p>

        <p>Momento resistente de la Sección:
            <span class="Results"> {{viga.phiMn}}</span>
            <span> Tonf-m</span>
        </p>

        <mat-card-footer>
            <div *ngIf="viga.asReq2>0; else elseBlock">
                <h1 style="text-align: center; color: red;">
                    ¡¡Viga Doblemente Reforzada!!
                </h1>
            </div>
            <ng-template #elseBlock>
                <h1 style="text-align: center;">
                    ¡¡Viga Simplemente Reforzada!!
                </h1>
            </ng-template>
        </mat-card-footer>
    </mat-card-content>
</mat-card>