<div class="container containerForm">
    <h3>Resultados</h3>
    <br>
    <div class="viagaOutputContainer">
        <div class="row">
            <div class="col-lg-3">
                <p class="resultLabel">Cuantia Máxima</p>
            </div>
            <div class="col-lg-3">
                <p class="form-control resultInput">{{viga.cuantiaMax}}</p>
            </div>
            <div class="col-lg-3">
                <p class="resultLabel">Acero Temperatura:</p>
            </div>
            <div class="col-lg-3">
                <p class="form-control resultInput">{{viga.asTemp}} cm²</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <p class="resultLabel">Acero Máximo</p>
            </div>
            <div class="col-lg-3">
                <p class="form-control resultInput">{{viga.asMax}} cm²</p>
            </div>
            <div class="col-lg-3">
                <p class="resultLabel">Acero a flexión</p>
            </div>
            <div class="col-lg-3">
                <p class="form-control resultInput">{{viga.asReq}} cm²</p>
            </div>
        </div>
    </div>
</div>
