.container.containerForm {
    border: #D4D4D4 1px solid;
    border-radius: 10px;
    background: whitesmoke;
    margin: 5px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.vigaContainer {
    grid-column: 1;
}

.vigaInfoContainer {
    grid-column: 2/span 2;
}

.viagaOutputContainer {
    grid-column: 1/span 3;
}

.containerForm button {
    width: 100%;
    margin: 2px;
    grid-column: 1/span 3;
}

.containerForm h3 {
    width: 100%;
    margin: 2px;
    grid-column: 1/span 3;
}

.containerForm input {
    width: 100%;
    margin: 2px;
}

.form-control.resultInput {
    background: whitesmoke;
}

.resultLabel {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.Results {
    color: blue;
    font-weight: bold;
}


/* mat-card {
    padding: 0;
} */



.headerCard {
    background: #1976D2;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
}
