<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white"> Cargando </p>
</ngx-spinner>


<div class="container">
    <header>
        <h1>Diseño a Cortante Vigas Rectangulares</h1>
    </header>
    <div class="infoContainer-left" [ngClass]="{'infoContainer': global.sectionWidht<=global.minWidth}">
        <app-cortante-input [viga]="vigaContainer" [cortanteCalculo]="cortanteCalculo" [isDisenio]="isDisenio" (CortanteCalcEmitter)="onVigaCalcEmitter($event)" (selectOptionEmitter)="onSelectOptionEmitter($event)"></app-cortante-input>
    </div>
    <div class="infoContainer-right" [ngClass]="{'infoContainer': global.sectionWidht<=global.minWidth}">
        <app-cortante-output [viga]="vigaContainer" [isSectionOk]="isSectionOk" [SectionMessage]="SectionMessage"></app-cortante-output>
    </div>
    <div class="clearfix" *ngIf="global.sectionWidht>global.minWidth"></div>
</div>
