.custom.mat-card {
    padding: 0px;
    margin: 0px auto;
    margin-left: 20px;
    margin-right: 20px;
}

.card-tittle {
    padding-top: 5px;
    background: #1976D2;
    color: white;
    height: 40px;
    margin-bottom: 5px;
}