<p>viga-chequeo-input works!</p>
<mat-card>
    <mat-card-title class="headerCard">
        <h1>Datos de entrada</h1>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="formInput">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Fy(kgf/cm²)</mat-label>
                    <input matInput type="number" id="tbFy" formControlName="fy" (change)="onChangeEvent($event,vigaService.vigaChequeo)">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Fc(kgf/cm²)</mat-label>
                    <input matInput name="fc" type="number" id="tbFc" formControlName="fc" (change)="onChangeEvent($event,vigaService.vigaChequeo)">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>b(cm)</mat-label>
                    <input matInput name="bw" type="number" id="tbBw " formControlName="bw" (change)="onChangeEvent($event,vigaService.vigaChequeo)">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>h(cm)</mat-label>
                    <input matInput name="hw" type="number" id="tbHw " formControlName="hw" (change)="onChangeEvent($event,vigaService.vigaChequeo)">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>d'(cm)</mat-label>
                    <input matInput name="r" type="number" id="tbr " formControlName="r" (change)="onChangeEvent($event,vigaService.vigaChequeo)">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Acero a Flexión(cm²)</mat-label>
                    <input matInput name="r" type="number" id="tbr " formControlName="asReq" (change)="onChangeEvent($event,vigaService.vigaChequeo)">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Acero a Compresión(cm²)</mat-label>
                    <input matInput name="r" type="number" id="tbr " formControlName="asReq2" (change)="onChangeEvent($event,vigaService.vigaChequeo)">
                </mat-form-field>
            </p>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="onClick(vigaService.vigaChequeo)">Calcular</button>
    </mat-card-actions>
</mat-card>
