<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white"> Cargando </p>
</ngx-spinner>

<div class="container">
    <header>
        <h1>Espectro de Diseño NSR10</h1>
    </header>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <h2 class="card-header">
                    Datos Espectro
                </h2>
                <div class="card-body">
                    <form #espectroForm="ngForm" (ngSubmit)="onSubmit(espectroForm)">

                        <div class="espectroInfoContainer">
                            Informacion del Sitio
                            <mat-form-field appearance="outline">
                                <mat-label>Departamentos</mat-label>
                                <select matNativeControl name="departamentosList" id="departamentosList" #departamentosList="ngModel" [(ngModel)]="selectDepartamento" [disabled]="departamentosDisabled" (ngModelChange)="onDepartamentoChange($event)" required>
                            <option value=""></option>
                            <option *ngFor="let departamento of departamentos " value="{{departamento}}">
                              {{departamento}}
                            </option>
                          </select>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Municipio</mat-label>
                                <select matNativeControl name="municipiosList" id="municipiosList" #municipiosList="ngModel" [(ngModel)]="selectMunicipio" [disabled]="municipiosDisabled" (ngModelChange)="onMunicipioChange($event)" required>
                            <option value="" selected></option>
                            <option *ngFor="let municipio of municipios " value="{{municipio.nombre}}">
                              {{municipio.nombre}}
                            </option>
                          </select>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Amenaza</mat-label>
                                <input type="text" name="Amenaza" id="Amenaza" #Amenaza="ngModel" [(ngModel)]="zonaSismica" matInput [disabled]="true">
                            </mat-form-field>

                            <mat-grid-list cols="2" rowHeight="70px">
                                <mat-grid-tile>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Aa:</mat-label>
                                        <input type="number" name="AaInput" id="AaInput" #AaInput="ngModel" [(ngModel)]="myMunicipio.aa" matInput [disabled]="true">
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Av:</mat-label>
                                        <input type="number" name="AvInput" id="AvInput" #AvInput="ngModel" [(ngModel)]="myMunicipio.av" matInput [disabled]="true">
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>

                        <app-suelo-info></app-suelo-info>
                        <app-estructura-info [estructuraInfo]="estructuraInfo"></app-estructura-info>

                        <button mat-button>LIKE</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-6">
            <app-espectro-grafica></app-espectro-grafica>
        </div>
    </div>

</div>
{{estructuraInfo|json}}
