<!-- <mat-card class="dataCard">
    <mat-card-header>
        <mat-card-title>Grafica Espectro</mat-card-title>
    </mat-card-header>

    <div style="display: block">
        <canvas baseChart [chartType]="lineChartType" [datasets]="Data" [labels]="Labels" [colors]="colors"></canvas>
    </div>
</mat-card> -->

<div class="card">
    <h2 class="card-header">
        Grafica Espectro
    </h2>
    <div class="card-body">
        <div #canvasContainer class="canvasContainer">
            <canvas #myCanvas baseChart [chartType]="lineChartType" [datasets]="Data" [labels]="Labels" [colors]="colors" [options]="scatterChartOptions"></canvas>
        </div>
    </div>
</div>