.escaleras-container {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    display: inline-block;
    padding: 10px;
}

.custom.mat-card {
    padding: 0px;
    margin: 0px auto;
}

.escaleras-card-title {
    background: #1976D2;
    color: white;
    height: 40px;
    margin-bottom: 5px;
}

.escaleras-card-title p {
    text-align: center;
    line-height: 40px;
}

.escaleras-content,
.escaleras-actions {
    padding: 10px;
}

.escaleras-actions button {
    width: 100%;
}