<mat-card>
    <mat-card-title>
        <h1>User login</h1>
        <h1>{{name.status}}</h1>
    </mat-card-title>

    <mat-card-content>
        <form #myForm="ngForm">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label for="my-input">Correo Electronico</mat-label>
                    <input matInput id="user" class="form-control" type="text" name="modelUser" [(ngModel)]="model.user" required #name="ngModel">

                </mat-form-field>
            </div>
            <div [hidden]="name.valid || name.pristine" class="alert">
                El nombre es obligatorio
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label for="my-input">Contraseña</mat-label>
                    <input matInput id="password" class="form-control" type="password" name="modelPassword" [(ngModel)]="model.password" required #password="ngModel">
                </mat-form-field>
            </div>

            <div [hidden]="password.valid || password.pristine" class="alert">
                El password es obligatorio
            </div>

            <button [disabled]="myForm.invalid" type="button" (click)="login()">Ingresar</button>
        </form>
    </mat-card-content>
</mat-card>
