/* You can add global styles to this file, and also import other style files */


/* .ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42a948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
} */

.alert {
    color: red;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
}

footer {
    margin-top: 2px;
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.headerCard {
    background: #1976D2;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
}

.ToolBoxVigas {
    background: #1976D2;
    color: white;
}
